body{
    margin:0;
}

header{
    width: 100%;
    background: #252424;
    position: sticky;
    top: 0;
}

h1{
    font-family: 'Butcherman', cursive;
    font-size: 50px;
    text-align: center;
}


.links-menu{
    list-style-type: none; 
    display:flex;
    margin: 0;
    padding: 0;
}

.links-menu li{
    flex-grow: 1;
    text-align: center;
}

.links-menu li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px 15px;
    display: block;
}

.links-menu li a:hover{
    background-color: #837D7D;
}

#datosbio, #bienveni, #expe, #inter{ 
    padding-top: 50px;
}

.titulos{
    text-decoration: underline;
    text-decoration-color: blue;
    font-family: 'Slabo 27px', serif;
}

#img-bienvenida{
    width: 20%;
    float: left;
    padding: 10px;
    border: solid;
    border-color: #000;
    -webkit-box-shadow: -2px 1px 12px -1px rgba(0,0,0,1);
    -moz-box-shadow: -2px 1px 12px -1px rgba(0,0,0,1);
    box-shadow: -2px 1px 12px -1px rgba(0,0,0,1);
    margin: 20px;
}

table {    
    font-family: 'Indie Flower', cursive;
    font-size: 20px;    
    margin: 5px;     
    width: 100%; 
    text-align: left;    
    border-collapse: collapse; 
}

th {     
    font-size: 25px;
    font-weight: 300%;     
    padding: 20px;     
    background: darkblue;
    border-top: 4px solid #05b7f9;    
    border-bottom: solid 5px #05b7f9; 
    color: white; 
}

.impar td {    
    padding: 10px;     
    background: #05f939;     
    border-bottom: 1px solid #fff;
    color: black;    
    border-top: 1px solid transparent; 
}

.par td {    
    padding: 10px;     
    background: white;     
    border-bottom: 1px solid #fff;
    color: black;    
    border-top: 1px solid transparent; 
}
